<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style2.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Quattrocento+Sans|Russo+One" rel="stylesheet">
    <title>Kahvehane</title>
  </head>

  <body>
    <header>
      <h1>Kahvehanee</h1>
    </header>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    
  </body>
</html>
